
.bigBox {
    display: flex;
    justify-content: center;
    margin: 0 50px 0 50px;
}

.bigBox p {
    font-size: 17px;
    color: rgb(252, 0, 0);
    display: flex;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    background-color: #F1F1F1;
    border-radius: 20px;
    filter: drop-shadow(7px 6px 4px rgba(0, 0, 0, 0.2));
    margin: 50px;
}

.type {
    display: flex;
    flex-direction: column;
    height: 120px;
    max-width: 620px;
    justify-content: center;
    align-items: center;
    background-color:#ffbcbc;
    margin: 30px 40px 0 40px;
    border-radius: 20px;
    filter: drop-shadow(7px 6px 4px rgba(0, 0, 0, 0.2));
}

h2 {
    font-family: 'Varela Round', sans-serif;
    color:  #572e2ec0;
    font-style: normal;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin: 0;
}

.type select {
    border-radius: 20px;
    max-width: 450px;
    height: 50px;
    font-size: 22px;
    font-family: 'Varela Round', sans-serif;
    color:  #572e2ec0;
    font-style: normal;
    border: none;
    margin: 10px;
    padding: 0 10px;
}


.type input {
    width: 90px;
    height: 50px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    text-align: center;
    border: none;
    font-family: 'Varela Round', sans-serif;
    color:  #572e2ec0;
    font-style: normal;
    font-size: 20px;

}

.type option {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color:  #572e2ec0;
    font-style: normal;
    font-size: 20px;
}

.boxDu {
    display: flex;
    flex-direction: row;
    font-family: 'Varela Round', sans-serif;
    color:  #572e2ec0;
    font-style: normal;
    padding-top: 10px;
}

.boxDu h3 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 550;

}

.cal {
    display: flex;
    flex-direction: column;
    height: 120px;
    max-width: 620px;
    justify-content: center;
    align-items: center;
    background-color: #ffbcbc;
    margin: 30px 40px 0 40px;
    border-radius: 20px;
    filter: drop-shadow(7px 6px 4px rgba(0, 0, 0, 0.2));
}


.cal h2 {
    display: flex;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.cal input {
    border-radius: 20px;
    max-width: 250px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    border: none;
    padding: 0 15px;
    font-family: 'Varela Round', sans-serif;
    color:  #572e2ec0;
}

.typeD {
    display: flex;
    flex-direction: column;
    height: 200px;
    max-width: 620px;
    justify-content: center;
    align-items: center;
    background-color:#ffbcbc;
    margin: 30px 40px 0 40px;
    border-radius: 20px;
    filter: drop-shadow(7px 6px 4px rgba(0, 0, 0, 0.2));
}

.typeD h2 {
    padding-bottom: 10px;
}
.typeD textarea {
    max-width: 540px;
    height:100px;
    font-size: 16px;
    width: 80%;

}

.btn {
    display: flex;
    flex-direction: row;
    margin: 30px 70px 30px 70px ;
    justify-content: space-between;
    border: none;
}


.btn input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    width: 100px;
    height:50px;
    border-radius: 20px;
    filter: drop-shadow(8px 6px 6px rgba(0, 0, 0, 0.15));
    background-color: #98b7acc7;
    font-size: 20px;
    border: none;
    color: #2c4135bb;
}

.btn input:hover {
    background: #b5ead7;
}


/* Responsive */

@media screen and (max-width: 700px) {
    .bigBox {
        margin: 10px;
    }

    #form {
        margin: 10px;
        width: 100%;
    }
    .type , .cal, .typeD {
        margin: 20px 10px 0;
    }
    
    * h2 , .cal h2{
        font-size: 20px;
    }

    .boxDu h3 {
        font-size: 16px;
        font-weight: 500;
        margin-left: 5px;
    }

    .cal input, .type select {
        font-size: 18px;
    }

    .type input {
        width: 80px;
    }
}