.Navbar-container {
    background: #FFE7E7;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

#logoIcon {
    width: 35px;
    height: 35px;
    margin: 0 20px;
}

#text-viv {
    width: auto;
    height: auto;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    text-shadow: 2px 2px #eda3e68a;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #572e2ec0;
    margin: 0px;
}

.schedule {
    display: flex;
    width: auto;
    margin: 0px 20px;
}

#text-schedule, #text-summary, #text-tip {
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color:  #572e2ec0;
}

#text-viv:hover {
    color: #572e2e;
}

#text-schedule:hover, #text-summary:hover, #text-tip:hover {
    color: #572e2e;
}

#scheduleIcon:hover {
    opacity: 0.7;
}

.login .logout {
    width: auto;
}

.login button, .logout button {
    background: transparent;
    border: none;
    font-family: 'Varela Round', sans-serif;
    padding: 10px 10px;
}

#loginIcon {
    margin: 0 20px;
    height: 25px;
    width: 30px;
    opacity: 0.5;
}

#loginIcon:hover {
    opacity: 0.7;
}

#tipIcon, #summaryIcon, #scheduleIcon {
    margin: 0 20px;
    height: 35px;
    width: 35px;
    opacity: 0.5;
}

/* hidden icons */
@media only screen and (min-width: 1500px) {
    #tipIcon, #summaryIcon, #scheduleIcon {
    display: none;
    }
}

/* tablet version */
@media only screen and (max-width: 1500px) {
    #text-viv {
       display: none;
    }

    #tipIcon, #summaryIcon, #scheduleIcon {
        display: content;
    }

    #text-schedule, #text-summary, #text-tip {
        display: none;
    }
    #summaryIcon:hover, #tipIcon:hover, #scheduleIcon:hover {
    opacity: 0.7;
    }
}