* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* header */
.header-schedule {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;
    max-width: 1080px;
  }
  
  .addEvent-btn {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #67a4ff;
    font-size: 18px;
    font-weight: 600;
    border: transparent;
    cursor: pointer;
  }

  .addEvent-btn:hover {
    background-color: #90bcff;
  }
  

  /* animation */
  @keyframes anvil {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    10% {
      transform: scale(0.5) translateY(10px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
      box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
  }

  /* popup form */
  .calendar-title {
    font-size: 30px;
    font-weight: 800;
  }

  .popup-content {
    width: 50vw;
    border-radius: 0.5rem;
    animation: anvil 0.5s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  }

.modal {
    padding: 20px;
    width: 100%;
    height: fit-content;
}

  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: 20px;
    top: 15px;
    font-size: 35px;
    background: #ffffff;
    border: 1px solid transparent;
  }

.remind-header {
    padding: 20px 0px;
    font-size: 22px;
    font-weight: 900;
}

.input-text {
    border-radius: 5px;
    outline: 2px solid transparent;
    width: 100%;
    height: 10%;;
    padding: 10px;
}

.modal .content h5 {
    font-size: 18px;
    padding: 15px 0px;
}

.input-date {
    border-radius: 5px;
    outline: 2px solid transparent;
    border-color: rgba(209,213,219);
    width: 65%;
    height: 10%;
    margin-right: 5%;
    padding: 10px;
}

.input-time {
    border-radius: 5px;
    border-color: rgba(209,213,219);
    outline: 2px solid transparent;
    width: 30%;
    height: 10%;
    padding: 10px;
}

.confirm-btn {
    width: 20%;
    padding: 10px;
    border-radius: .25rem;
    background-color: rgb(101, 95, 222);
    border: transparent;
    color:white;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.confirm-btn:hover {
    background-color: rgb(127, 123, 204);
}
