* {
    font-family: 'Varela Round', sans-serif;
}

.bigBox2 {
    display: flex;
    justify-content: center;
    margin: 0 50px 0 50px;
}

.bigBox2 p {
    font-size: 17px;
    color: rgb(252, 0, 0);
    display: flex;
    align-items: center;
}

#form2 {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    background-color: #F1F1F1;
    border-radius: 20px;
    filter: drop-shadow(7px 6px 4px rgba(0, 0, 0, 0.2));
    margin: 50px;
}

.type2 {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 620px;
    justify-content: center;
    align-items: center;
    background-color:#ffbcbc;
    margin: 20px 30px 0 30px;
    border-radius: 20px;
    filter: drop-shadow(7px 6px 4px rgba(0, 0, 0, 0.2));
}

h2 {
    font-family: 'Varela Round', sans-serif;
    color:  #572e2ec0;
    font-style: normal;
    display: flex;
    align-items: center;
    font-size: 24px;
    margin: 0;
}

h3 {
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.type2 select {
    border-radius: 20px;
    width: 430px;
    height: 50px;
    font-size: 25px;
    text-align: center;
}


.type2 input {
    width: 90px;
    height: 50px;
    font-size: 25px;
    margin-left: 10px;
    border-radius: 20px;
    text-align: center;
}

.boxDu2 {
    display: flex;
    flex-direction: row;
}

.calendar2 {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 670px;
    justify-content: center;
    align-items: center;
    background-color:#ffbcbc;
    margin: 20px auto 0px;
    border-radius: 20px;
    filter: drop-shadow(7px 6px 4px rgba(0, 0, 0, 0.2));
}

.calendar2 h2 {
    display: flex;
    align-items: center;
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.calendar2 input {
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    text-align: center;
}

.type3 {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 670px;
    justify-content: center;
    align-items: center;
    background-color:#ffbcbc;
    margin: 20px auto 0px;
    border-radius: 20px;
    filter: drop-shadow(7px 6px 4px rgba(0, 0, 0, 0.2));
}

.type3 textarea {
    width: 600px;
    height:100px;
}

.btn2 {
    display: flex;
    flex-direction: row;
    margin: 20px 70px ;
    justify-content: space-between;
}

.btn2 input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    width: 100px;
    height:50px;
    border-radius: 20px;
    filter: drop-shadow(8px 6px 6px rgba(0, 0, 0, 0.15));
    background-color: #98b7acc7;
    font-size: 20px;
    border: none;
    color: #2c4135bb;
}

.btn2 input:hover {
    background: #b5ead7;
}