* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.act-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    background: #fd9d9dcc;
    border-radius: 25px;
    margin: 70px 100px 0px 20px;
    position: relative;
}

.act-container h3 {
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: black;
    padding: 40px 0 0 35px;
}

.head-content{
    padding-top: 20px;
    margin: 20px 40px 0;
}


.head-content h1 {
    font-size: 24px;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    color:  #572e2ec0;
    box-shadow: 0 25px 35px -20px rgb(0 0 0 / 15%);
    padding: 15px;

}


@media only screen and (max-width: 1500px) {
    .act-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        background: #fd9d9dcc;
        border-radius: 25px;
        margin: 70px 0;
    }
}