* {
    margin: 0px;
}

.act-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 900px;
    background: #fd9d9dcc;
    border-radius: 25px;
    margin: 70px 100px 0px 20px;
}

.act-container h3 {
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: black;
    padding: 40px 0 0 35px;
}

.head-content{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 0;
}

.head-content h1 {
    font-size: 24px;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    color:  #572e2ec0;
}

.head-content img{
    width: 43px;
    height: 46px;
    background-color: #F1F1F1;
    margin: 0 10px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 4px rgb(0 0 0 / 0.2);

}


@media only screen and (max-width: 1500px) {
    .act-container {
        display: flex;
        flex-direction: column;
        width: 700px;
        height: 900px;
        background: #fd9d9dcc;
        border-radius: 25px;
        margin: 70px 0;
    }
}