* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

.act-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 900px;
    background: #fd9d9dcc;
    border-radius: 25px;
    margin: 70px 100px 0px 20px;
    padding: 30px;
}

.act-container h3 {
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: black;
    padding: 40px 0 0 35px;
}

.head-content{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 25px 35px -20px rgb(0 0 0 / 15%);
}


.head-content .actList {
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
    color:  #572e2ec0;
}

.head-content img{
    width: 43px;
    height: 46px;
    background-color: #F1F1F1;
    margin: 0 10px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 4px rgb(0 0 0 / 0.2);
    box-shadow: 0 25px 35px -20px rgb(0 0 0 / 15%);
    padding: 15px;
}

/*  Pagination */
.pagegination{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activePage {
    background-color:rgb(171, 207, 255);
}

.pagegination li{
    padding: 5px;
    font-size: 1.2em;
}

.pagegination li:hover{
    cursor: pointer;
    background-color: antiquewhite;
}


@media only screen and (max-width: 1500px) {
    .act-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        background: #fd9d9dcc;
        border-radius: 25px;
        margin: 70px 0;
    }
}