*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-activity{
    width: fit-content;
    height: auto;
    padding: 0 40px;
}

.container-listcard {
    margin: 40px 0;
}

.listCard{
    background-color: #F1F1F1;
    width: 100%;
    height: fit-content;
    border-radius: 25px;
    margin-bottom: 20px;
    filter: drop-shadow(8px 6px 6px rgba(0, 0, 0, 0.15));
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-content{
    display: flex;
    line-height: 1.5em;
}

.container-content img{
    width: 56px;
    height: 62px;
    background-color: #7ac1a5bd;
    padding: 10px;
    border-radius: 50%;
    margin: 40px 30px;
}

.container-content div{
   margin: 25px 0;
}

.container-content p {
    font-size: 18px;
    color:  #572e2ec0;
    font-family: 'Varela Round', sans-serif;
    font-style: normal;
}

.card-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-btn img{
    margin: 20px 20px;
    width: 25px;
    height: 25px;
    opacity: 0.5;
    cursor: pointer;
}

.card-btn img:hover{
    opacity: 1;
}









