* {
    margin: 0px;
}

.AddAct {
    display: flex;
    justify-content: center;
}

.AddAct button{
    display: flex;
    border: transparent;
    background: #b9f2ff;
    width: 255px;
    height: 60px;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.15));
    transition-duration: 0.4s;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

