* {
	font-family: 'Varela Round', sans-serif;
}

.login_container {
	width: 100%;
	min-height: 95vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: rgba(254, 231, 235, 0.363);
	margin: 5px 0;
	font-size: 14px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fd9d9dcc;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.right h1 {
	margin-top: 0;
	color: white;
	font-size: 40px;
	align-self: center;
}

.sign1{
	display: none;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}



.green_btn {
	background-color: #fd9d9dcc;
	color: white;
	margin: 10px;
}

@media only screen and (max-width: 768px) {
	.login_form_container{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		background-color: white
;
	}
	.form_container h1 {
		margin:  0 0 0 15px;
	}

	.input{
		margin-top: 20px;
	}

	.sign1{
		display: block;
		border: none;
		outline: none;
		padding: 12px 0;
		background-color: white;
		border-radius: 20px;
		width: 180px;
		font-weight: bold;
		font-size: 14px;
		cursor: pointer;
	}
	.right{
		width: 100%;
		display: none;
	}
  }