* {
    margin: 0px;
}

.profile {
    display: flex;
    width: 444px;
    height: 119px;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 60px;
}

.profile img {
    width:131px;
    height: 119px;
}

.profile h1 {
   margin-left: 60px;
}