* {
    margin: 0px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 535px;
    height: 860px;
    background: #FD9D9D;
    border-radius: 25px;
    margin: 70px 20px 0px 100px;
}

