* {
    margin: 0px;
}

.Summary {
    display: flex;
    position: absolute;
    top: 760px;
    left: 60px;
}

.Summary button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 420px;
    height: 88px;
border-radius: 25px;
color: #f1f1f1;
}

.Summary img {
    display: flex;
    justify-content: flex-start;
    width: 52px;
    height: 52px;
}

.Summary strong {
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color:black;
}